<head>
    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
    <script src="game-over.js"></script>
  </head>
  <div class="container-gameover">
    <h1 id="gameover">Game Over</h1>
    <div class="container-fluid">
      <div class="row">
            <div id="left" class="col-sm-3">
          <p><b>{{ playerName }} </b></p>
          <p>Score: {{ playerScore }} </p>
        </div>
        <div id="center" class="col-sm-6">
          <div id="congrats">{{ textCongrats }}</div>
            <button class="btn btn-secondary continue" (click)="onPlayClick()">Play Again</button><br>
            <img id="gif" [src]="gif">
      </div>
            <div id="right" class="col-sm-3">
            <p><b>Opponent</b></p>
            <p>Score: {{ opponentScore }} </p>
              </div>
        </div>
        </div>
      </div>
