<head>
    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
    <script src="game-over.js"></script>
  </head>
  <div class="container-gameover">
    <h1 id="gameover">Game Over</h1>
  </div>

    <div class="container-fluid">
      <div class="row">
            <div id="left" class="col-sm-4">
          <b>Player {{ player.userName }} </b>
          <br>
          <br>
            <b>Words:</b><br>
            <ul class="listWords">
              <li *ngFor="let word of playerWords">
                  {{ word }}
              </li>
          </ul>
          <p>Total: {{ playerScore }} </p>
        </div>
        <div id="center" class="col-sm-4">
            <button class="btn btn-secondary continue" (click)="onPlayClick()">Play Again</button>
            <img id="gif" [src]="gif">
      </div>
            <div id="right" class="col-sm-4">
              <p><b>Opponent</b></p>
              <br>
            <b>Words:</b>
            <ul class="listWords">
                <li *ngFor="let word of opponentWords">
                    {{ word }}
                </li>
            </ul>
            <p>Total: {{ opponentScore }} </p>
              </div>
        </div>
        </div>

