@using System.Security.Claims
@model ChangeUsernameViewModel

<div class="ChangeUsername-page">
    <div class="page-header">
        <h1>Change Username</h1>
    </div>

    <partial name="_ValidationSummary" />

    <div class="row">

        @if (Model.EnableLocalLogin)
        {
            <div class="col-sm-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Change Username</h3>
                        <h6>You need to set your username in the game.</h6>

                    </div>
                    <div class="panel-body">

                        <form asp-route="ChangeUsername">
                            <input type="hidden" asp-for="ReturnUrl" />

                            <fieldset>
                                <div class="form-group">
                                    <label asp-for="NewUserName">UserName</label>
                                    <input class="form-control" placeholder="Username" asp-for="NewUserName" autofocus>
                                </div>
                                <div class="form-group">
                                    <button class="btn btn-primary" name="button" value="ChangeUsername">Change</button>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        }
    </div>
</div>