<header>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="http://localhost:4200/welcome">Balda Game</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="http://localhost:4200/startGame">Game <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:4200/rules">Rules</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:4200/contacts">Contacts</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
<body>
<div class="content">
    <router-outlet></router-outlet>
  </div>
</body>
<footer class="footer">
      <span class="text-muted">&copy; BaldaGame by AngryBird, 2019</span>
  </footer>
