@model ConfirmEmailViewModel

<div class="confirmed-page">
    <div class="page-header">
        <h1>Confirmed</h1>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <p>Welcome to 15Puzzle, @Model.Username! Your email is confirmed and now you can login to play the game ^_^</p>
        </div>
    </div>
</div>