.squareNone {
  height: 40px;
  width: 40px;
  background-color: rgb(132, 182, 247);
  vertical-align: middle;
  align-self: center;
}

.squareAlive {
  height: 40px;
  width: 40px;
  background-color: rgb(17, 17, 17);
  vertical-align: middle;
  align-self: center;
}

.squareDestroyed {
  height: 40px;
  width: 40px;
  background-color: rgb(129, 24, 24);
  vertical-align: middle;
  align-self: center;
}

.squareForbidden {
  height: 40px;
  width: 40px;
  background-color: rgb(194, 182, 12);
  vertical-align: middle;
  align-self: center;
}

.squareMiss {
  height: 40px;
  width: 40px;
  background-color: rgb(59, 23, 219);
  vertical-align: middle;
  align-self: center;
}
