<div class="title"><h2>Game rules</h2></div>
<div class="rules">
<p>The rules are easy. </p>
<p>On the picture below you see the field for the game. </p>
<ol>
  <li>Each turn you can add only one letter on the field.</li>
  <li>The letter should form a new word (see my example in the next post)</li>
  <li>Syllables can be only vertical or horisontal diagonal words are prohibited so the new letter can form a syllable with the letter above, below or on the sides of it.</li>
  <li>The goal is to fill the field with words.</li>
  <li>You can't repeat the words, if someone wrote room, you can't write room as well even if it will be the word in the another part of the field.</li>
  <li>The winner the person who will have more total points by the end of the game.</li>
  <li>One point is given for one letter of words you add.</li>
  <li>You can't make 2 turns in a row.</li>
</ol>
<div class="image">
  <img [src]= "image1" alt="initial field"/>
</div>

  </div>

