.board_context {
  margin: 0.5rem 20rem;
  background-color: #1f1a26;
  border: 4px outset #868169;
  border-radius: 5px;
  padding: 0 12px 4px 3px;
  font-size: medium;
  color: #fff48f;
}
.cell_context{
  background-color: #3e344c;
  border: 2px solid #868169;
  padding: 2px;
}
