<div class="container">
  <div class="card border-primary">
      <div class="card-body" *ngIf="player">
        <img src={{player.icon.uri}}>
        <a
          class="card-title"
           [routerLink]="['/registered/player', player.id]"
          routerLinkActive="router-link-active"
          >{{ player.nickName }}
        </a>
        <p>Experience point: {{player.experiencePoint}}</p>
        <a
        class="card-title"
        *ngIf="player.gameSession"
        [routerLink]="['/registered/session', player.gameSession.id]"
        outerLinkActive="router-link-active"
        >Continue game
      </a>
      <a  *ngIf="!player.gameSession" [routerLink]="['/registered/create-session']">New game</a>
      </div>
  </div>
</div>

