<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="recordBoard">RecordBoard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="game">Game</a>
        </li>
      </ul>
    </div>
    <div class="mx-auto order-0">
      <a class="navbar-brand mx-auto" href="#">WordsMaker Game</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <span>
            <app-login></app-login>
          </span>
        </li>
      </ul>
    </div>
  </nav>
  <main role="main" class="inner cover  mt-5">
    <router-outlet></router-outlet>
  </main>

  <div class="container" id="footer">
    <nav class="navbar navbar-expand navbar-dark bg-dark">
      <div>
        <p>SharpCodeTeam 2019</p>
      </div>
    </nav>
  </div>
</div>
