
.navbar {
  min-height: 50px;
}
.navbar-text {
  margin-left: 5px;
  margin-right: 5px;
}
.dropdown-menu {
  min-width: 300px;
  padding: 10px 10px 10px 10px;
  background-color:rgba(255,255,255,.6);
}
/* #login-dp{
  min-width: 100px;
  padding: 30px 30px 30px 30px;
  overflow:hidden;
  background-color:rgba(255,255,255,.8);
} */
/* #login-dp .help-block{
  font-size:12px;
  color: blue;
} */
/* #login-dp .bottom{
  background-color:rgba(255,255,255,.8);
  border-top:1px solid #ddd;
  clear:both;
  padding:14px;
  text-align: center;
} */
 .social-buttons{
  margin: 5px 5px 5px 5px
}
.social-buttons a{
  width: 40%;
  margin-left: 10px;
  margin-right: 10px;
} 
.form-group {
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
}
 .btn-fb{
  color: #fff;
  background-color:#3b5998;
}
.btn-fb:hover{
  color: #fff;
  background-color:#496ebc
}
.btn-google{
  color: #fff;
  background-color:#DD4B39;
}
.btn-google:hover{
  color: #fff;
  background-color:#DD4B39;
} 
/* @media(max-width:768px){
  #login-dp{
      background-color: inherit;
      color: #fff;
  }
  #login-dp .bottom{
      background-color: inherit;
      border-top:3 none;
  }
} */
