.navbar {
  min-height: 50px;
}
.dropdown-menu {
  min-width: 300px;
}
#login-dp{
  min-width: 100px;
  padding: 14px 14px 14px 14px;
  overflow:hidden;
  background-color:rgba(255,255,255,.8);
}
#login-dp .help-block{
  font-size:12px
}
#login-dp .bottom{
  background-color:rgba(255,255,255,.8);
  border-top:1px solid #ddd;
  clear:both;
  padding:14px;
}
.social-buttons{
  margin:12px 0
}
.social-buttons a{
  width: 49%;
}
.form-group {
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
}
.btn-fb{
  color: #fff;
  background-color:#3b5998;
}
.btn-fb:hover{
  color: #fff;
  background-color:#496ebc
}
.btn-tw{
  color: #fff;
  background-color:#55acee;
}
.btn-tw:hover{
  color: #fff;
  background-color:#59b5fa;
}
@media(max-width:768px){
  #login-dp{
      background-color: inherit;
      color: #fff;
  }
  #login-dp .bottom{
      background-color: inherit;
      border-top:0 none;
  }
}
