<div class="signup-form">
		<h2>Register</h2>
    <p class="hint-text">Create your account. It's free and takes just a minute.</p>
    <div class="form-group">
        <div class="col-xs-6"><input type="text" class="form-control" name="full_name" placeholder="Full Name" required="required"></div>
      </div>
        <div class="form-group">
          <div class="col-xs-6"><input type="text" class="form-control" name="login" placeholder="Login" required="required"></div>
        </div>
        <div class="form-group">
        	<input type="email" class="form-control" name="email" placeholder="Email" required="required">
        </div>
		<div class="form-group">
            <input type="password" class="form-control" name="password" placeholder="Password" required="required">
        </div>
        <div class="form-group">
            <input type="password" class="form-control" name="confirm_password" placeholder="Confirm Password" required="required">
        </div>
		<div class="form-group">
            <button type="submit" class="btn btn-success btn-lg btn-block"(click)="addUser()">Register Now</button>
        </div>
	<div class="text-center">Already have an account? <a routerLink="/signIn">Sign in</a></div>
</div>
