<!--<mat-card class="example-card">-->
<!--  <mat-card-header>-->
<!--    <mat-card-title>Login</mat-card-title>-->
<!--  </mat-card-header>-->
<!--  <mat-card-content>-->
<!--    <form class="example-form">-->
<!--      <table class="example-full-width" cellspacing="0">-->
<!--        <tr>-->
<!--          <td>-->
<!--            <mat-form-field class="example-full-width">-->
<!--              <label>-->
<!--                <input matInput placeholder="Username" [(ngModel)]="username" name="username" required>-->
<!--              </label>-->
<!--            </mat-form-field>-->
<!--          </td>-->
<!--        </tr>-->
<!--        <tr>-->
<!--          <td><mat-form-field class="example-full-width">-->
<!--            <label>-->
<!--              <input matInput placeholder="Password" [(ngModel)]="password" type="password" name="password" required>-->
<!--            </label>-->
<!--          </mat-form-field></td>-->
<!--        </tr></table>-->
<!--    </form>-->
<!--    <mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner>-->
<!--  </mat-card-content>-->
<!--  <mat-card-actions>-->
<!--    <button mat-raised-button (click)="login()" color="primary">Login</button>-->
<!--  </mat-card-actions>-->
<!--</mat-card>-->
<div>
  <div class="navbar-text navbar-item" *ngIf="userName">{{userName}}</div>
  <div class="navbar-text navbar-item" *ngIf="!userName">Войдите</div>

  <button  *ngIf="!login" (click)="loginBtnClick()" type="button" class="navbar-text btn btn-light" >Login</button>
  <button  *ngIf="login" (click)="logoutBtnClick()" type="button" class="navbar-text btn btn-light" >Logout</button>
</div>
