<div class="container">
  <table class="table">
    <thead>
        <tr>
            <th>
              <div class="text-center">Ячейка</div>
            </th>
            <th>
              <div class="text-left">Обозначение</div>
            </th>
          </tr>
    </thead>
    <tbody>
        <tr>
            <td scope="row" align="center"><div class="squareNone"></div></td>
            <td style="vertical-align: middle">пустая ячейка игрового поля</td>
          </tr>
          <tr>
              <td scope="row" align="center"><div class="squareAlive"></div></td>
              <td style="vertical-align: middle">ячейка корабля</td>
          </tr>
          <tr>
              <td scope="row" align="center"><div class="squareDestroyed"></div></td>
              <td style="vertical-align: middle">попадание</td>
          </tr>
          <tr>
              <td scope="row" align="center"><div class="squareForbidden" ></div></td>
              <td style="vertical-align: middle">ячейка, расположение корабля в которой запрещено</td>
          </tr>
          <tr>
              <td scope="row" align="center"><div class="squareMiss"></div></td>
              <td style="vertical-align: middle">промах</td>
          </tr>
    </tbody>
  </table>
</div>
