<div class="contact-section">
    <h1>Contact us</h1>
    <div class="border"></div>
    <form class="contact-form">
      <input type="text" class="contact-form-text" placeholder="Name">
      <input type="email" class="contact-form-text" placeholder="E-mail">
      <input type="text" class="contact-form-text" placeholder="Phone number">
      <textarea class="contact-form-text" placeholder="Write a message"></textarea>
      <input type="submit" class="contact-form-btn" value="Send">
    </form>
  </div>
