<h1>Contacts</h1>
<div class="content">
<div class="info">
  <img [src]="photo" alt="photo">

  <p><b>E-mail: </b><a href="mailto:jemelachee@gmail.com?subject=contect&cc=cc@example.com"> jemelachee@gmail.com</a></p>
  <p><b>Skype: </b><a href="skype:live:jemelachee?chat">live:jemelachee</a></p>
  <p><b>LinkedIn: </b><a href="https://www.linkedin.com/in/yana-knysh">www.linkedin.com/in/yana-knysh</a></p>
  <p><b>GitHub: </b><a href="https://github.com/YanaKnysh">https://github.com/YanaKnysh</a></p>

</div>
</div>
