<mat-toolbar class="body">
  <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">

    <div fxLayout="row">
      <button [matMenuTriggerFor]="menu" color="accent" mat-icon-button
              style="background-color:#48138f; margin: 0 10px">
        <mat-icon>menu</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button (click)="homeBtnClick()" mat-menu-item>
          <mat-icon>home</mat-icon>
          <span>Home</span>
        </button>
        <button [matMenuTriggerFor]="menuGrid" mat-menu-item>
          <mat-icon>casino</mat-icon>
          <span>Grid cards</span>
        </button>
        <mat-menu #menuGrid="matMenu">
          <button (click)="ord_3_BtnClick()" class="grd" mat-raised-button>
              <span class="label">3 x 3</span>
          </button>
          <button class="grd" mat-raised-button> 4 x 4</button>
          <button class="grd" mat-raised-button> 5 x 5</button>
          <button class="grd" mat-raised-button> 6 x 6</button>
          <button class="grd" mat-raised-button> 7 x 7</button>
          <button class="grd" mat-raised-button> 8 x 8</button>
          <button class="grd" mat-raised-button> 9 x 9</button>
          <button class="grd" mat-raised-button> 10 x 10</button>
        </mat-menu>

        <button disabled mat-menu-item>
          <mat-icon>gamepad</mat-icon>
          <span>Begin game</span>
        </button>
        <button disabled mat-menu-item>
          <mat-icon>person_outline</mat-icon>
          <span>Log out</span>
        </button>
      </mat-menu>
      <h1>Tic Tac Toe game</h1>
    </div>

    <div class="mrg" fxLayout="row" fxLayoutAlign="end center">
      <div>
        <span *ngIf="login" class="usr">{{userName}}</span>
        <span *ngIf="!login" class="usr">User</span>

        <button (click)="loginBtnClick()" *ngIf="!login" class="butt"
                color="primary" mat-raised-button
                type="button">Login
        </button>
        <button (click)="logoutBtnClick()" *ngIf="login" class="butt"
                color="accent" mat-raised-button
                type="button">Logout
        </button>
      </div>

      <div class="mrg">
        <button [matMenuTriggerFor]="menu2" color="accent" mat-icon-button
                style="background-color:#48138f">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu2="matMenu">
          <button mat-menu-item>
            <mat-icon>local_library</mat-icon>
            <span>About</span>
          </button>
          <button mat-menu-item>
            <mat-icon>local_phone</mat-icon>
            <span>Contact</span>
          </button>
        </mat-menu>
      </div>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
