.body {
  background-image: url(../../../../assets/images/menuboard.jpg);
  background-repeat: repeat-x;
  text-shadow: 1px 1px 2px black, 0 0 1em #6914ba;
  color: #e0e9c8;
  font-size: 2em;
  background-color: #413846;
}

.mrg {
  margin: 0 0.5rem;
}

.butt{
  font-size: 1rem;
  width: 5rem;
}

.usr{
  margin: 0 1rem;
  padding: 5px 2rem;
  background-image: url(../../../../assets/images/scoolboard.jpg);
  background-size: 300%;
  color: #e9e3c1;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #191919;
  font-size: large;
  font-weight: bold;
}

.grd {
  background-image: url(../../../../assets/images/grid.jpg);
  color: black;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: large;
  font-weight: bold;
  background-size: 100%;
  margin: 3px;
}

h1 {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 2rem;
  font-weight: bold;
  color: #fff48f;
}
