<p>Map {{ id }}</p>
<table class="fixed">
    <tbody>
      <tr *ngFor="let row of cells">
        <td *ngFor="let item of row" (click)="this.selectCell(item)" [class.highlighted]="item.checked == true">
          {{ item.letter }}
        </td>
      </tr>
    </tbody>
  </table>
  <p> {{ selectedLetters }} </p>
  <button type="button-send" class="btn btn-primary" (click)="onSendClick()">
      Send word
  </button>
  <button type="button-cancel" class="btn btn-primary" (click)="onCancelClick()">
      Cancel
  </button>
  <div>
<table class="alph">
  <tbody>
    <tr>
      <td *ngFor="let letter of alphabet" (click)="this.selectLetter(letter)" [class.highlighted]="letter === currentLetter">
        {{ letter }}
      </td>
    </tr>
  </tbody>
</table>
