@model ConfirmEmailViewModel

<div class="confirmed-page">
    <div class="page-header">
        <h1>Confirmed</h1>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <p>Welcome to wordsmaker game, @Model.Username! Your email is confirmed</p>
        </div>
    </div>
</div>