<div class="container">
  <div class="row">
    <div class="col-md-6">
      <table class="table" id="shipField">
          <thead>
            <tr>
              <th style="text-align: center !important; font-size: 32px; padding-left: 50px" colspan="11" class="cell no_border">Корабли</th>
            </tr>
            <th class="cell no_border" *ngFor="let letter of alphabet" >{{ letter }}</th>
          </thead>
        <tr *ngFor="let row of this.battleFieldService.shipField; let i = index" >
          <td class="cell no_border">{{ i }}</td>
          <td *ngFor="let cell of row">
              <app-cell [status]=cell.status [x]=cell.x [y]=cell.y></app-cell>
          </td>
        </tr>
      </table>
    </div>

    <div class="col-md-6">
        <table class="table" id="shootField">
            <thead>
                <tr>
                  <th style="text-align: center !important; font-size: 32px; padding-left: 50px" colspan="11" class="cell no_border">Выстрелы</th>
                </tr>
                <th class="cell no_border" *ngFor="let letter of alphabet" >{{ letter }}</th>
              </thead>
          <tr *ngFor="let row of this.shootService.shotField; let i = index">
              <td class="cell no_border">{{ i }}</td>
              <td *ngFor="let cell of row">
                <app-cell id="cell" [status]=cell.status [x]=cell.x [y]=cell.y (click)="shoot(cell)"></app-cell>
            </td>
          </tr>
        </table>
      </div>
  </div>
  <div class="row" style="display: flex; justify-content: center; align-items: center;">
    <button type="button" class="btn btn-primary col-md-6 center-block" (click)=reset()>Новая игра</button>
  </div>
  <h1 class="text-center col-md-12">{{ this.shootService.endgameMessage }}</h1>
</div>
