<div class="container">
  <div class="row">
      <div class="square" (click)="CellClick(i)" *ngFor="let letter of keyWordLetters let i = index">
          <div class="letter">
            {{letter}}
          </div>
        </div>
  </div>
  <div class="row">
      <div class="user_word">
          <label>
            Введенное слово >> {{resultWord.join('')}}
          </label>
        </div>
  </div>
  <div class="row">
    <div class="errMessage">
        <label class="errMessageText">
          {{errMessage}}
        </label>
      </div>
  </div>

  <div class="row">
    <div>
      <button (click)="ClearBtnClick()" [disabled]="CheckResultWord()">Clear</button>
      <button (click)="SubmitBtnClick()">Submit</button>
    </div>
  </div>
</div>
