.square {
    width: 50px;
    height: 50px;
    background-color: floralwhite;
    border: 2px solid black;
    float: left;
    margin: 0 1px 1px 0;
    display: table;
    text-align: center;
    font: bold 20pt sans-serif;
  }

.square div{  
    display: table-cell;
    vertical-align: middle
  }
 
.square div input{  
  max-width: 10px;
} 