<div *ngIf="gameFieldData">
  <div *ngIf="userName != null">Hello, {{userName}}!</div>
  <div *ngIf="userEmail != null">You are logged in as {{userEmail}}</div>

  <IMG src="assets/img/Hangman-{{gameFieldData.userErrors}}.png">

    <div>Id: {{gameFieldData.id}} </div>
  <div>
    <span *ngFor="let item of gameFieldData.correctLetters">
      <button class="btn btn-primary" disabled=true>{{item}}</button>
    </span>
  </div>
  <div class="alphabet">
    <span *ngFor="let item of alphabet" >
      <button class="btn btn-primary" (click)= "checkLetter(item)" *ngIf="gameFieldData.alphabet.includes(item)">{{item}}</button>
      <button class="btn btn-primary" *ngIf="!gameFieldData.alphabet.includes(item)" [disabled]=true>{{item}}</button>
    </span>
  </div>
</div>
