/* You can add global styles to this file, and also import other style files */
@import '../node_modules/bootstrap/scss/bootstrap.scss';

body {
  background-image: url('https://i.ytimg.com/vi/BwBhaQoiV94/maxresdefault.jpg');
  background-size: 100% auto;
}
