<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css"/>


<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column ">

    <header class="masthead mb-auto">
        <div class="inner">
          <nav class="nav nav-masthead justify-content-center">
            <!-- <a class="nav-link" routerLinkActive="active" routerLink="/">Home</a> -->
            <h3>SeaBattle-2019</h3>
            <button (click)="Login()">Login</button>
            <span class="badge badge-primary">Messages: {{this.demoHub.messages.length}}</span>
            <a name="" id="" class="btn btn-primary" role="button" (click)="callServer()">Call Server</a>
          </nav>
        </div>
      </header>


    <main role="main" class="inner cover" >
      <app-shipplacer></app-shipplacer>
      <app-field></app-field>
      <app-buttons style="margin: 10px"></app-buttons>
    </main>

    <footer class="mastfoot mt-auto">
        <div class="inner">
          <p></p>
        </div>
      </footer>
  </div>
