<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css"/>


<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column ">

    <header class="masthead mb-auto">
        
        <div>
            <h3>SeaBattle-2019</h3>
          <nav class="nav nav-masthead justify-content-center">
            <app-auth></app-auth>
          </nav>
        </div>
        
      </header>

    <div class="col-md-1" *ngIf=!isActive>
      <label>Введите имя</label>
      <input type="text" #nickName>
      <button (click) = "addPlayer(nickName.value)">Добивить игрока</button>
    </div>

    <main *ngIf=isActive role="main" class="inner cover" >
      <app-shipplacer></app-shipplacer>
      <app-field></app-field>
    </main>
  </div>
