<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css"/>


<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column ">

    <header class="masthead mb-auto">
        <div class="inner">
          <nav class="nav nav-masthead justify-content-center">
            <h3>SeaBattle-2019</h3>
            <app-auth></app-auth>
          </nav>
        </div>
        
      </header>


    <main role="main" class="inner cover" >
      <app-shipplacer></app-shipplacer>
      <app-field></app-field>
    </main>

    <footer class="mastfoot mt-auto">
        <div class="inner">
          <p></p>
        </div>
      </footer>
  </div>
