  <head>
    <link href="https://fonts.googleapis.com/css?family=Londrina+Outline&display=swap" rel="stylesheet" alt="A beautiful scene of the night sky, brought to life by the large and small stars.">
  </head>
  <body>
    <div id="scene">
      <h1 id="welcome">WELCOME TO<br> BALDA GAME !</h1>
      <div id="star1"> </div>
      <div id="star2"> </div>
      <div id="star3"> </div>
      <div id="star4"> </div>
      <div id="star5"> </div>
      <div id="star6"> </div>
      <div id="star7"> </div>
      <div id="star8"> </div>
      <div id="star9"> </div>
      <div id="star10"> </div>
      <div id="star11"> </div>
    </div>
  </body>
