<!DOCTYPE html>
<html>
  <head>
    <title> Stars Landing Page Design</title>
    <meta name="description" content="A beautiful welcome page design, using CSS to make a star filled background.">
    <meta name="keywords" content="Stars,CSS,HTML,Design,Codepen">
    <meta name="author" content="D Designs">

    <!-- META OPEN GRAPH FOR USE WHEN SHARING AS LINKS (EXAMPLE - FACEBOOK LIKE AND SHARE). -->
    <meta property="og:title" content="Landing Page Stars Design" />
    <meta property="og:description" content="A beautiful welcome page design, using CSS to bring alive a star filled background."><!-- DESCRIPTION SHOWN WHEN SHARED -->
    <meta property="og:url" content="#" /><!-- URL TO WEBSITE -->
    <meta property="og:image" content="#" /><!-- IMAGE SHOWN WHEN SHARED -->

    <link href="https://fonts.googleapis.com/css?family=Londrina+Outline&display=swap" rel="stylesheet" alt="A beautiful scene of the night sky, brought to life by the large and small stars.">

  </head>
  <body>
    <div id="scene">
      <h1 id="welcome">WELCOME TO<br> BALDA GAME !</h1>
      <div id="star1"> </div>
      <div id="star2"> </div>
      <div id="star3"> </div>
      <div id="star4"> </div>
      <div id="star5"> </div>
      <div id="star6"> </div>
      <div id="star7"> </div>
      <div id="star8"> </div>
      <div id="star9"> </div>
      <div id="star10"> </div>
      <div id="star11"> </div>

    </div>

  </body>
</html>
