<div *ngIf="isLoading" class="container-fluid">
<div id="left" class="row">
    <div class="col border border-primary rounded card">
  <b><p>Player {{ player.userName }}</p> </b>
  <br>
    <b>Words:</b>
    <ul class="listWords">
      <li *ngFor="let word of playerWords">
          {{ word }}
      </li>
  </ul>
  <p>Score: {{ playerScore }} </p>
</div>
</div>

<div id="right">
    <div class="col border border-warning rounded card">
      <p><b>Opponent</b></p>
      <br>
    <b>Words:</b>
    <ul class="listWords">
        <li *ngFor="let word of opponentWords">
            {{ word }}
        </li>
    </ul>
    <p>Score: {{ opponentScore }} </p>
      </div>
</div>

<div id="center">
    <div class="col">
        <div id="turn">
            <span class="border border-primary rounded" *ngIf="isPlayerTurn"><b>Player's Turn</b></span>
            <span class="border border-warning rounded" *ngIf="!isPlayerTurn"><b>Opponent's Turn</b></span>
          </div>
  <table class="fixed table-bordered table-dark">
    <tbody>
      <tr *ngFor="let row of cells">
        <td *ngFor="let item of row" (click)="this.selectCell(item)" [class.highlighted]="item.checked === true">
          {{ item.letter }}
        </td>
      </tr>
    </tbody>
  </table>
  <p> Your word: <b> {{ selectedLetters }}</b> </p>
  <button type="button-send" class="btn btn-secondary" (click)="onSendClick()">
    Send word
</button>
<button type="button-cancel" class="btn btn-secondary" (click)="onCancelClick()">
    Cancel
</button>
<div class="errorText">
  <p>{{ errorText }}</p>
</div>
    <table class="alph table-bordered table-dark">
      <tbody>
        <tr>
          <td *ngFor="let letter of alphabetP1" (click)="this.selectAlphabetLetter(letter)" [class.highlighted]="letter === alphabetLetter">
            {{ letter }}
          </td>
        </tr>
        <tr>
          <td *ngFor="let letter of alphabetP2" (click)="this.selectAlphabetLetter(letter)" [class.highlighted]="letter === alphabetLetter">
            {{ letter }}
          </td>
        </tr>
      </tbody>
    </table>
</div>
<div class="leave">
    <button type="button" class="btn btn-secondary" (click)="onLeaveButton()">Leave Game</button>
    </div>
</div>
</div>
