<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">

    <header class="masthead mb-auto">
      <div class="inner">
        <h3 class="masthead-brand">15Puzzle</h3>
        <nav class="nav nav-masthead justify-content-center">
          <a class="nav-link" routerLinkActive="active" routerLink="/">Home</a>
          <a class="nav-link" routerLinkActive="active" routerLink="/deck">Deck</a>
          <a class="nav-link" routerLinkActive="active" routerLink="/leaderboard">Leaderboard</a>
        </nav>
      </div>
    </header>

    <main role="main" class="inner cover">
      <router-outlet></router-outlet>
    </main>

    <footer class="mastfoot mt-auto">
      <div class="inner">
        <p>Cover template for <a href="https://getbootstrap.com/">Bootstrap</a>, by <a href="https://twitter.com/mdo">@mdo</a>.</p>
      </div>
    </footer>
  </div>
