/*
 * Cover
 */
 .cover {
  padding: 0 1.5rem;
}
.cover .btn-lg {
  padding: 0.75rem 1.25rem;
  font-weight: 700;
}

.cover-container {
  max-width: 42em;
}

/*
 * Footer
 */
.mastfoot {
  color: rgba(255, 255, 255, 0.5);
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

#ddm{
  background-color: transparent !important;
  text-align: center;
  color: #fff;
  font-size: 0.7rem;
  font-weight: 600;
  width: inherit;
  border: none;
  min-width: 40px;
  padding: 0;
  margin: 0;
  cursor: pointer;
  :hover{
    text-decoration: none;
  }
}
