<div

  gdAreas="header header | side content | footer footer"
  gdGap="16px"
  gdRows="auto auto auto">

  <div gdArea="header">
    Header: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis delectus
    odio quia recusandae rerum soluta voluptatibus? Aliquid blanditiis commodi corporis et
    fugiat fugit harum, perspiciatis, praesentium similique tempora ullam veritatis!
  </div>

  <div gdArea="side">
    Side: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam aperiam
    architecto assumenda, atque, autem debitis dicta dignissimos dolorem doloribus
    eligendi est iste laboriosam nemo odio, odit placeat rerum veniam voluptatem.
  </div>

  <div gdArea="content">
    Context: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab ad atque commodi
    consequatur, debitis dolore est harum illum laudantium maiores molestias nihil non
    odit officiis perspiciatis quas rerum? Dolore, tempora
  </div>

  <div gdArea="footer">
    Footer: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab amet aspernatur
    autem deleniti dicta ea facere fugiat ipsa laboriosam magnam non officiis optio,
    repellat tempore vero. Ad consequuntur maiores neque.
  </div>

</div>
