<div>
  <div>
    <p>Счёт **********************************************</p>
    <mat-grid-list cols="5" rowHeight="1:1">
      <mat-grid-tile>1</mat-grid-tile>
      <mat-grid-tile>2</mat-grid-tile>
      <mat-grid-tile>3</mat-grid-tile>
      <mat-grid-tile>4</mat-grid-tile>
      <mat-grid-tile>5</mat-grid-tile>
      <mat-grid-tile>6</mat-grid-tile>
      <mat-grid-tile>7</mat-grid-tile>
      <mat-grid-tile>8</mat-grid-tile>
      <mat-grid-tile>9</mat-grid-tile>
      <mat-grid-tile>10</mat-grid-tile>
      <mat-grid-tile>11</mat-grid-tile>
      <mat-grid-tile>12</mat-grid-tile>
      <mat-grid-tile>13</mat-grid-tile>
      <mat-grid-tile>14</mat-grid-tile>
      <mat-grid-tile>15</mat-grid-tile>
      <mat-grid-tile>16</mat-grid-tile>
      <mat-grid-tile>17</mat-grid-tile>
      <mat-grid-tile>18</mat-grid-tile>
      <mat-grid-tile>19</mat-grid-tile>
      <mat-grid-tile>20</mat-grid-tile>
      <mat-grid-tile>21</mat-grid-tile>
      <mat-grid-tile>22</mat-grid-tile>
      <mat-grid-tile>23</mat-grid-tile>
      <mat-grid-tile>24</mat-grid-tile>
      <mat-grid-tile>25</mat-grid-tile>
    </mat-grid-list>
  </div>

  <p></p>

  <div>
    <mat-grid-list cols="11" rowHeight="1:1">
      <mat-grid-tile>А</mat-grid-tile>
      <mat-grid-tile>Б</mat-grid-tile>
      <mat-grid-tile>В</mat-grid-tile>
      <mat-grid-tile>Г</mat-grid-tile>
      <mat-grid-tile>Д</mat-grid-tile>
      <mat-grid-tile>Е</mat-grid-tile>
      <mat-grid-tile>Ё</mat-grid-tile>
      <mat-grid-tile>Ж</mat-grid-tile>
      <mat-grid-tile>З</mat-grid-tile>
      <mat-grid-tile>И</mat-grid-tile>
      <mat-grid-tile>Й</mat-grid-tile>
      <mat-grid-tile>К</mat-grid-tile>
      <mat-grid-tile>Л</mat-grid-tile>
      <mat-grid-tile>М</mat-grid-tile>
      <mat-grid-tile>Н</mat-grid-tile>
      <mat-grid-tile>О</mat-grid-tile>
      <mat-grid-tile>П</mat-grid-tile>
      <mat-grid-tile>Р</mat-grid-tile>
      <mat-grid-tile>С</mat-grid-tile>
      <mat-grid-tile>Т</mat-grid-tile>
      <mat-grid-tile>У</mat-grid-tile>
      <mat-grid-tile>Ф</mat-grid-tile>
      <mat-grid-tile>Х</mat-grid-tile>
      <mat-grid-tile>Ц</mat-grid-tile>
      <mat-grid-tile>Ч</mat-grid-tile>
      <mat-grid-tile>Ш</mat-grid-tile>
      <mat-grid-tile>Щ</mat-grid-tile>
      <mat-grid-tile>Ъ</mat-grid-tile>
      <mat-grid-tile>Ы</mat-grid-tile>
      <mat-grid-tile>Ь</mat-grid-tile>
      <mat-grid-tile>Э</mat-grid-tile>
      <mat-grid-tile>Ю</mat-grid-tile>
      <mat-grid-tile>Я</mat-grid-tile>
    </mat-grid-list>
  </div>
</div>
