<h2 mat-dialog-title> Game Setup</h2>
<mat-dialog-content>
  <h2>Hello, {{data.currentUserName}}!</h2>
  <span>
      You must choose an opponent,<br>
      the size of the playing field<br>
      and the length of the winning <br>
      chain.
    </span>
  <br>
  <h4>Choose your opponent:</h4>
  <mat-form-field>
    <mat-label>-current players-</mat-label>
    <mat-select [(ngModel)]="selectedOpponent" name="opponents">
      <mat-option *ngFor="let opponent of opponents" [value]="opponent.userId">
        {{opponent.userName}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <p> Selected player_id: {{selectedOpponent}} </p>
  <br>
  <h4>Game map size choose:</h4>
  <mat-form-field>
    <mat-label>-square matrix sizes-</mat-label>
    <mat-select [(ngModel)]="selectedMap" name="maps">
      <mat-option *ngFor="let map_size of maps" [value]="map_size.value">
        {{map_size.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <p> Selected map size: {{selectedMap}} </p>
  <br>
  <h4>The length of the winning chain:</h4>
  <mat-form-field>
    <mat-label>-the winning chain-</mat-label>
    <label>
      <select matNativeControl [(ngModel)]="selectedChain" name="chains">
        <option *ngFor="let chain of chains" [value]="chain.value">
          {{chain.viewValue}}
        </option>
      </select>
    </label>
  </mat-form-field>
  <p> Selected chain: {{selectedChain}} </p>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button mat-dialog-close>Cancel</button>
  <button (click)="save()" color="accent" mat-raised-button>Save</button>
</mat-dialog-actions>
