<head>
    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
  </head>
<div class="container">
<div class="startGame box">
<div class="form-group">
  <label for="dropdown">Select map size:</label>
  <br>
  <select class="form-control" [(ngModel)]="mapSize"  >
    <option *ngFor="let size of sizes" value= {{size.num}}  >
      {{ size.desciption }}
    </option>
  </select>
  <button class="btn btn-secondary" (click)="onStartClick()">PLAY</button><br>
</div>
</div>
</div>
